.cart {
  position: fixed;
  width: 40vw;
  min-width: 250px;
  max-width: 500px;
  max-height: 80vh;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  top: 150px;
  right: 10px;
  z-index: 101;
  animation: open 0.2s ease-out forwards;

  @keyframes open {
    0% {
      opacity: 0;
      top: 150px;
    }
    25% {
      opacity: 0.1;
      top: 120px;
    }
    50% {
      opacity: 0.1;
      top: 60px;
    }
    75% {
      opacity: 0.3;
      top: 0px;
    }
    100% {
      opacity: 1;
      top: 60px;
    }
  }

  .cart-items {
    flex: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .total {
    width: max-content;
    background: rgb(113, 178, 243);
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    margin-bottom: 10px;
  }

  button {
    margin-top: auto;
    width: 120px;
  }
}
