.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: dodgerblue;
  transition: fill 0.2s ease-out;
  &:hover,
  &.active {
    fill: orange;
  }
  .item-count {
    position: absolute;
    font-size: 8px;
    bottom: 16px;
  }
  .bump {
    color: orange;
    animation: bump 300ms ease-out;
  }

  @keyframes bump {
    0% {
      transform: scale(1.5);
    }

    50% {
      transform: scale(3);
    }
    70% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}
