.container {
  img,
  svg {
    transition: all ease-out 0.2s;
    &:hover {
      fill: orange;
      box-shadow: rgba(255, 166, 0, 0.7) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
  }
}
