.cartItem {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 0;
  &:hover {
    border-color: dodgerblue;
  }
  img {
    width: 30%;
    height: 30%;
  }

  .itemDetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;

    .name {
      font-size: 16px;
    }

    .total {
      color: orange;
    }
  }
}
