.menu-item {
  min-width: 240px;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  //   border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 12px, rgba(0, 0, 0, 0.22) 0px 6px 3px;
  &:first-child {
    margin-right: 7.5px;
  }
  &:nth-child(2),
  &:first-child {
    width: calc(50% - 20px);
    height: 300px;
  }
  &:last-child {
    margin-left: 7.5px;
  }

  &:hover {
    cursor: pointer;
    & .background-image {
      transform: scale(1.2);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    & .content {
      opacity: 0.9;
      transition: opacity 0.2s ease-out;
    }
  }
  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .content {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
    background: white;
    opacity: 0.6;
    position: absolute;
    border-radius: 5px;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
