.custom-button {
  min-width: 125px;
  width: auto;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;

  cursor: pointer;

  &:hover {
    background-color: orange;
    color: white;
    border-color: orange;
  }
}
