.custom-button {
  min-width: 90px;
  // max-width: 140px;
  width: auto;
  height: 30px;
  letter-spacing: 0.5px;
  line-height: 28px;
  padding: 0 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  background: rgb(189, 123, 0);
  border-radius: 5px;
  color: white;
  margin: 10px 10px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    background: orange;
  }
  &.google {
    background: #295398;
    &:hover {
      background: #4285f4;
    }
  }
}
