.header {
  position: fixed;
  z-index: 100;
  background: white;
  user-select: none;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  img,
  svg {
    cursor: pointer;
  }
  .options {
    width: 50%;
    min-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 5px;
      transition: all 0.2s ease-out;
      color: dodgerblue;
      fill: dodgerblue;
      &:hover,
      &.active {
        color: orange;
        fill: orange;
      }
    }
  }
}
